<td><%= product.area_id %></td>
<td><%= product.id %></td>
<td><%= link_to product.name, product %></td>
<td><%= product.classification %></td>
<td><%= product.purchase_price %></td>
<td><%= product.selling_price %></td>