<h1>Products</h1>
<<<<<<< HEAD
<%= link_to "Export PDF file", products_path(format: :pdf), :target => "_blank" %>
<%= link_to "Export products", products_path(format: :csv) %>
<%= render "import" %>
=======
  <%= link_to "Export products", products_path(format: :csv) %>
  <%= render "import" %>
<%= link_to "Export PDF file", products_path(format: :pdf), :target => "_blank" %>
>>>>>>> bd4d4d9... chore: escel_files test csv
<table>
  <thead>
    <tr>
      <th>area id</th>
      <th>id</th>
      <th>name</th>
      <th>classification</th>
      <th>purchase price</th>
      <th>selling price</th>
    </tr>
  </thead>
  <tbody>
   <% @products.each do |product| %>
        <tr>
          <%= render partial: "product", locals: { product: product } %>
        </tr>
    <% end %>
  </tbody>
</table>