<h1>Products</h1>
<table>
  <thead>
    <tr>
     <th>area id</th>
      <th>id</th>
      <th>Name</th>
      <th>Classification</th>
      <th>purchase price</th>
      <th>selling price</th>
    </tr>
  </thead>
  <tbody>
   <% @products.each do |product|%>
        <tr>
         <td><%= product.area_id %></td>
         <td><%= product.id %></td>
         <td><%= product.name%></td>
         <td><%= product.classification %></td>
         <td><%= product.purchase_price %></td>
         <td><%= product.selling_price %></td>
         </tr>
    <% end %>
  </tbody>
</table>